<html ng-app="SmartMirror">
    <head>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <link rel="stylesheet" href="static/stylesheets/main.css" type="text/css">
    </head>

    <body>
        <div ng-controller="Home" class="content">
            <div class="module-box">
                <h1 id="status"></h1>
                <h3>Weather (Dark Sky)</h3>
                <div class="module" id="darksky-module">
                    <div class="front" onclick="editModule('darksky-module')" style="background-image: url(/static/images/mirror-bg.jpg)">
                        <img src="/static/images/weather.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="Dark Sky" id="darksky">
                            <a href=""><span class="close-module" onclick="closeModule('darksky-module')">X</span></a>
                            <input type="hidden" ng-model="forms.darkskyFormData.name">
                            Position:<br>
                            <div class="select-style">
                            <select ng-model="forms.darkskyFormData.position" form="darksky" id="darksky-position">
                                <option value="-">-</option>
                                <option value="topLeft">Top Left</option>
                                <option value="topRight">Top Right</option>
                                <option value="bottomLeft">Bottom Left</option>
                                <option value="bottomRight">Bottom Right</option>
                            </select>
                            </div>
                            <br>
                            Key:<br>
                            <input ng-model="forms.darkskyFormData.key" type="text">
                            <br/>
                            Zipcode Key:<br>
                            <input ng-model="forms.darkskyFormData.zipcodekey" type="text">
                            <br/>
                            Zipcode:<br>
                            <input ng-model="forms.darkskyFormData.zipcode" type="text">
                            <br><br>
                            <button ng-click="addModule(forms.darkskyFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.darkskyFormData.name)">Remove</button>
                        </form>
                    </div>
                </div>
                <h3>News</h3>
                <div class="module" id="news-module">
                    <div class="front" onclick="editModule('news-module')" style="background-image: url(/static/images/mirror-bg.jpg)" >
                        <img src="/static/images/news.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="News" id="news">
                            <a href=""><span class="close-module" onclick="closeModule('news-module')">X</span></a>
                            <input type="hidden" ng-model="forms.newsFormData.name">
                            Position:<br>
                            <div class="select-style">
                            <select ng-model="forms.newsFormData.position" form="news">
                                <option value="-">-</option>
                                <option value="bottom">Bottom</option>
                            </select>
                            </div>
                            <br>
                            Key:<br>
                            <input ng-model="forms.newsFormData.key" type="text">
                            <br/>
                            Source:<br>
<!--                             <input ng-model="forms.newsFormData.source" type="text"> -->
                            <div class="select-style">
                            <select ng-model="forms.newsFormData.source" form="news" id="news-sources">
                                <option value="-">-</option>
                            </select>
                            </div>
                            <br/>
                            Sort-By:<br>
                            <input ng-model="forms.newsFormData.sortby" type="text">
                            <br><br>
                            <button ng-click="addModule(forms.newsFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.newsFormData.name)">Remove</button>
                        </form>
                    </div>
                </div>
                <h3>Tasks (Wunderlist)</h3>
                <div class="module" id="wunderlist-module">
                    <div class="front" onclick="editModule('wunderlist-module')" style="background-image: url(/static/images/mirror-bg.jpg)">
                        <img src="/static/images/tasks.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="Wunderlist" id="wunderlist">
                            <a href=""><span class="close-module" onclick="closeModule('wunderlist-module')">X</span></a>
                            <input type="hidden" ng-model="forms.wunderlistFormData.name">
                            Position:<br>
                            <div class="select-style">
                            <select ng-model="forms.wunderlistFormData.position" form="wunderlist">
                                <option value="-">-</option>
                                <option value="topLeft">Top Left</option>
                                <option value="topRight">Top Right</option>
                                <option value="bottomLeft">Bottom Left</option>
                                <option value="bottomRight">Bottom Right</option>
                            </select>
                            </div>
                            <br>
                            Key:<br>
                            <input ng-model="forms.wunderlistFormData.key" type="text">
                            <br/>
                            Client-ID:<br>
                            <input ng-model="forms.wunderlistFormData.clientid" type="text">
                            <br/>
                            List-ID:<br>
                            <input ng-model="forms.wunderlistFormData.listid" type="text">
                            <br><br>
                            <button ng-click="addModule(forms.wunderlistFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.wunderlistFormData.name)">Remove</button>
                        </form>
                    </div>
                </div>

                <h3>Clock</h3>
                <div class="module" id="clock-module">
                    <div class="front" onclick="editModule('clock-module')" style="background-image: url(/static/images/mirror-bg.jpg)">
                        <img src="/static/images/clock.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="Clock" id="clock">
                            <a href=""><span class="close-module" onclick="closeModule('clock-module')">X</span></a>
                            <input type="hidden" ng-model="forms.clockFormData.name">
                            Position:<br>
                            <div class="select-style">
                            <select ng-model="forms.clockFormData.position" form="clock">
                                <option value="-">-</option>
                                <option value="topLeft">Top Left</option>
                                <option value="topRight">Top Right</option>
                                <option value="bottomLeft">Bottom Left</option>
                                <option value="bottomRight">Bottom Right</option>
                            </select>
                            </div>
                            <br>
                            <br><br>
                            <button ng-click="addModule(forms.clockFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.clockFormData.name)">Remove</button>
                        </form>
                    </div>
                </div>


                <h3>Famous Quote</h3>
                <div class="module" id="famousquote-module">
                    <div class="front" onclick="editModule('famousquote-module')" style="background-image: url(/static/images/mirror-bg.jpg)">
                        <img src="/static/images/quote.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="Famous Quote" id="famousquote">
                            <a href=""><span class="close-module" onclick="closeModule('famousquote-module')">X</span></a>
                            <input type="hidden" ng-model="forms.famousquoteFormData.name">
                            Position:<br>
                            <div class="select-style">
                            <select ng-model="forms.famousquoteFormData.position" form="famousquote">
                                <option value="-">-</option>
                                <option value="top">Top</option>
                            </select>
                            </div>
                            <br/>
                            Key<br/>
                            <input ng-model="forms.famousquoteFormData.key" type="text">
                            <br/>
                            Category<br/>
                            <input ng-model="forms.famousquoteFormData.category" type="text">
                            <br>
                            <br><br>
                            <button ng-click="addModule(forms.famousquoteFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.famousquoteFormData.name)">Remove</button>
                        </form>
                    </div>

                </div>

                <h3>Spotify</h3>
                <div class="module" id="spotify-module">
                    <div class="front" onclick="editModule('spotify-module')" style="background-image: url(/static/images/mirror-bg.jpg)">
                        <img src="/static/images/spotify.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="Spotify" id="spotify">
                            <a href=""><span class="close-module" onclick="closeModule('spotify-module')">X</span></a>
                            <input type="hidden" ng-model="forms.spotifyFormData.name">
                            Position:<br>
                            <div class="select-style">
                            <select ng-model="forms.spotifyFormData.position" form="spotify">
                                <option value="-">-</option>
                                <option value="topLeft">Top Left</option>
                                <option value="topRight">Top Right</option>
                                <option value="bottomLeft">Bottom Left</option>
                                <option value="bottomRight">Bottom Right</option>
                            </select>
                            </div>
                            <br/>
                            <br><br>
                            <button ng-click="addModule(forms.spotifyFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.spotifyFormData.name)">Remove</button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="mirror-display">
                <div class="mirror-panel-top">
                    <p id="top" style="color: white;"></p>
                     <span class="remove-button-top" data-module="" id="top-remove" ng-click="removeFromMirrorView($event)">x</span>
                    <img id="top-image" src="" width="750px">
                </div>
                <div class="mirror-top">
                    <div style="float: left; width: 250px; height: 400px;">
                        <p id="topLeft" style="color: white"></p>
                        <span class="remove-button-topLeft" data-module="" id="topLeft-remove" ng-click="removeFromMirrorView($event)">x</span>
                        <img id="topLeft-image" src="" width="250px">
                    </div>
                    <div style="margin-left: 480px; width: 250px; height: 400px;">
                        <p id="topRight" style="color: white"></p>
                        <span class="remove-button-topRight" data-module="" id="topRight-remove" ng-click="removeFromMirrorView($event)">x</span>
                        <img id="topRight-image" src="" width="250px">
                    </div>
                </div>
                <div class="mirror-bottom">
                    <div style="float: left; width: 250px; height: 400px;">
                        <p id="bottomLeft" style="color: white"></p>
                        <span class="remove-button-bottomLeft" data-module="" id="bottomLeft-remove" ng-click="removeFromMirrorView($event)">x</span>
                        <img id="bottomLeft-image" src="" width="250px">
                    </div>
                    <div style="margin-left: 480px; width: 250px; height: 400px;">
                        <p id="bottomRight" style="color: white">Module</p>
                        <span class="remove-button-bottomRight" data-module="" id="bottomRight-remove" ng-click="removeFromMirrorView($event)">x</span>
                        <img id="bottomRight-image" src="" width="250px">
                    </div>
                </div>
                <div class="mirror-panel-bottom">
                    <p id="bottom" style="color:white";>
                    </p>
                    <span class="remove-button-bottom" data-module="" id="bottom-remove" ng-click="removeFromMirrorView($event)">x</span>
                    <img id="bottom-image" src="" width="750px">
                </div>
            </div>

        </div>

    </body>
    <script>
        // // Get News Sources for Options Dropdown
        var newsSourcesAPI = "https://newsapi.org/v1/sources?language=en";
        function getNewsSources(){
            $.getJSON(newsSourcesAPI).done(function(data) {
                    $.each(data.sources, function(i, field){
                        //console.log(field.name);
                        var option = document.createElement("option");
                        option.value= field.id;
                        option.innerHTML = field.name;
                        $('#news-sources').append(option);
                    });
            });
        };
        getNewsSources();
    </script>
    <script>

        $("#darksky-module").flip({
            trigger: 'manual',
            reverse: true
        });

        $("#wunderlist-module").flip({
            trigger: 'manual',
            reverse: true
        });

        $("#clock-module").flip({
            trigger: 'manual',
            reverse: true
        });

        $("#famousquote-module").flip({
            trigger: 'manual',
            reverse: true
        });

        $("#news-module").flip({
            trigger: 'manual',
            reverse: true
        });

        $("#spotify-module").flip({
            trigger: 'manual',
            reverse: true
        });

        function editModule(module){
            $("#" + module + "").flip(true);
        }

        // Using close x button
        function closeModule(module){
            $("#" + module + "").flip(false);
        }

    </script>
    <!-- Finally load angular app & it's controller -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="static/js/controller.js"></script>


</html>