<html ng-app="SmartMirror">
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
        <script type="text/javascript" src="static/js/controller.js"></script>
        <link rel="stylesheet" href="static/stylesheets/main.css" type="text/css">
    </head>

    <body>
        <div ng-controller="Home" class="content">
            <div style="float: left; width: 300px;">
                <h1 id="status"></h1>
                <h3>Weather</h3>
                <div id="weather-module" style="width: 250px; height: 330px;">
                    <div class="front" onclick="editModule('weather-module')" style="background-image: url(/static/images/mirror-bg.jpg)">
                        <img src="/static/images/weather.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="Weather" id="weather">
                            <input type="hidden" ng-model="forms.weatherFormData.name">
                            Position:<br>
                            <select ng-model="forms.weatherFormData.position" form="weather" id="weather-position">
                                <option value="-">-</option>
                                <option value="topLeft">Top Left</option>
                                <option value="topRight">Top Right</option>
                                <option value="bottomLeft">Bottom Left</option>
                                <option value="bottomRight">Bottom Right</option>
                            </select>
                            <br>
                            Key:<br>
                            <input ng-model="forms.weatherFormData.key" type="text">
                            <br/>
                            Zipcode Key:<br>
                            <input ng-model="forms.weatherFormData.zipcodekey" type="text">
                            <br/>
                            Zipcode:<br>
                            <input ng-model="forms.weatherFormData.zipcode" type="text">
                            <br><br>
                            <button ng-click="addModule(forms.weatherFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.weatherFormData.name)">Remove</button>
                        </form>
                        <button style="float:right" onclick="closeModule('weather-module')">Close</button>
                    </div>
                </div>
                <h3>News</h3>
                <div id="news-module" style="width: 250px; height: 330px;">
                    <div class="front" onclick="editModule('news-module')" style="background-image: url(/static/images/mirror-bg.jpg)" >
                        <img src="/static/images/news.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="News" id="news">
                            <input type="hidden" ng-model="forms.newsFormData.name">
                            Position:<br>
                            <select ng-model="forms.newsFormData.position" form="news">
                                <option value="-">-</option>
                                <option value="bottom">Bottom</option>
                            </select>
                            <br>
                            Key:<br>
                            <input ng-model="forms.newsFormData.key" type="text">
                            <br/>
                            Source:<br>
                            <input ng-model="forms.newsFormData.source" type="text">
                            <br/>
                            Sort-By:<br>
                            <input ng-model="forms.newsFormData.sortby" type="text">
                            <br><br>
                            <button ng-click="addModule(forms.newsFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.newsFormData.name)">Remove</button>
                        </form>
                        <button style="float:right" onclick="closeModule('news-module')">Close</button>
                    </div>
                </div>
                <h3>Tasks</h3>
                <div id="tasks-module" style="width: 250px; height: 330px;">
                    <div class="front" onclick="editModule('tasks-module')" style="background-image: url(/static/images/mirror-bg.jpg)">
                        <img src="/static/images/tasks.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="Tasks" id="tasks">
                            <input type="hidden" ng-model="forms.tasksFormData.name">
                            Position:<br>
                            <select ng-model="forms.tasksFormData.position" form="tasks">
                                <option value="-">-</option>
                                <option value="topLeft">Top Left</option>
                                <option value="topRight">Top Right</option>
                                <option value="bottomLeft">Bottom Left</option>
                                <option value="bottomRight">Bottom Right</option>
                            </select>
                            <br>
                            Key:<br>
                            <input ng-model="forms.tasksFormData.key" type="text">
                            <br/>
                            Client-ID:<br>
                            <input ng-model="forms.tasksFormData.clientid" type="text">
                            <br/>
                            List-ID:<br>
                            <input ng-model="forms.tasksFormData.listid" type="text">
                            <br><br>
                            <button ng-click="addModule(forms.tasksFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.tasksFormData.name)">Remove</button>
                        </form>
                        <button style="float:right" onclick="closeModule('tasks-module')">Close</button>
                    </div>
                </div>

                <h3>Clock</h3>
                <div id="clock-module" style="width: 250px; height: 330px;">
                    <div class="front" onclick="editModule('clock-module')" style="background-image: url(/static/images/mirror-bg.jpg)">
                        <img src="/static/images/clock.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="Clock" id="clock">
                            <input type="hidden" ng-model="forms.clockFormData.name">
                            Position:<br>
                            <select ng-model="forms.clockFormData.position" form="clock">
                                <option value="-">-</option>
                                <option value="topLeft">Top Left</option>
                                <option value="topRight">Top Right</option>
                                <option value="bottomLeft">Bottom Left</option>
                                <option value="bottomRight">Bottom Right</option>
                            </select>
                            <br>
                            <br><br>
                            <button ng-click="addModule(forms.clockFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.clockFormData.name)">Remove</button>
                        </form>
                        <button style="float:right" onclick="closeModule('clock-module')">Close</button>
                    </div>
                </div>


                <h3>Quote</h3>
                <div id="quote-module" style="width: 250px; height: 330px;">
                    <div class="front" onclick="editModule('quote-module')" style="background-image: url(/static/images/mirror-bg.jpg)">
                        <img src="/static/images/quote.png" width="250px" height="300px">
                    </div>
                    <div class="back" style="background-color: #d9d9d9">
                        <form name="Quote" id="quote">
                            <input type="hidden" ng-model="forms.quoteFormData.name">
                            Position:<br>
                            <select ng-model="forms.quoteFormData.position" form="quote">
                                <option value="-">-</option>
                                <option value="top">Top</option>
                            </select>
                            <br/>
                            Key<br/>
                            <input ng-model="forms.quoteFormData.key" type="text">
                            <br/>
                            Category<br/>
                            <input ng-model="forms.quoteFormData.category" type="text">
                            <br>
                            <br><br>
                            <button ng-click="addModule(forms.quoteFormData)">Add/Update</button>
                            <button ng-click="removeModule(forms.quoteFormData.name)">Remove</button>
                        </form>
                        <button style="float:right" onclick="closeModule('quote-module')">Close</button>
                    </div>

                </div>
            </div>
            <div class="mirror-display">
                <div class="mirror-panel-top">
                    <p id="top" style="color: white;"></p>
                     <span class="remove-button-top" data-module="" id="top-remove" ng-click="removeFromMirrorView($event)">x</span>
                    <img id="top-image" src="" width="750px">
                </div>
                <div class="mirror-top">
                    <div style="float: left; width: 250px; height: 400px;">
                        <p id="topLeft" style="color: white"></p>
                        <span class="remove-button-topLeft" data-module="" id="topLeft-remove" ng-click="removeFromMirrorView($event)">x</span>
                        <img id="topLeft-image" src="" width="250px">
                    </div>
                    <div style="margin-left: 480px; width: 250px; height: 400px;">
                        <p id="topRight" style="color: white"></p>
                        <span class="remove-button-topRight" data-module="" id="topRight-remove" ng-click="removeFromMirrorView($event)">x</span>
                        <img id="topRight-image" src="" width="250px">
                    </div>
                </div>
                <div class="mirror-bottom">
                    <div style="float: left; width: 250px; height: 400px;">
                        <p id="bottomLeft" style="color: white"></p>
                        <span class="remove-button-bottomLeft" data-module="" id="bottomLeft-remove" ng-click="removeFromMirrorView($event)">x</span>
                        <img id="bottomLeft-image" src="" width="250px">
                    </div>
                    <div style="margin-left: 480px; width: 250px; height: 400px;">
                        <p id="bottomRight" style="color: white">Module</p>
                        <span class="remove-button-bottomRight" data-module="" id="bottomRight-remove" ng-click="removeFromMirrorView($event)">x</span>
                        <img id="bottomRight-image" src="" width="250px">
                    </div>
                </div>
                <div class="mirror-panel-bottom">
                    <p id="bottom" style="color:white";>
                    </p>
                    <span class="remove-button-bottom" data-module="" id="bottom-remove" ng-click="removeFromMirrorView($event)">x</span>
                    <img id="bottom-image" src="" width="750px">
                </div>
            </div>

        </div>

    </body>
    <script>
        $("#weather-module").flip({
            trigger: 'manual',
            reverse: true
        });

        $("#tasks-module").flip({
            trigger: 'manual',
            reverse: true
        });

        $("#clock-module").flip({
            trigger: 'manual',
            reverse: true
        });

        $("#quote-module").flip({
            trigger: 'manual',
            reverse: true
        });

        $("#news-module").flip({
            trigger: 'manual',
            reverse: true
        });

        function editModule(module){
            $("#" + module + "").flip(true);
        }

        // Using close x button
        function closeModule(module){
            $("#" + module + "").flip(false);
        }

    </script>
</html>