/*
 * Global variables
 */

/*
 * Color
 */
$black: #535252;
$white: #ffffff;
$sand: #daaf78;
$green-light: #82ca9c;
$header-height: 70px;
$header-height-mobile: 55px;

html, body {
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    color: $black;
    margin:0 auto;
    font-size: 12px;
    text-transform: uppercase;
} 

body {
  padding-top: $header-height; // same as header height

   @media screen and (max-width: 1071px) {
        padding-top: $header-height + 10px;
    }
}

h2 {
    color: $black;
    letter-spacing: 5px;
    font-size: 28px;
    font-weight: normal;

    @media screen and (max-width: 991px) {
        font-size: 45px;
    }

}

h3 {
    display: none;
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

hr {
    max-width: 1100px; 
    margin: 0 auto; 
    padding: 20px 0px 20px 0px;
}

.content {
    width: 1000px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

button {
    background-color: rgb(217, 217, 217);
    border: 1px solid #777777;
    color: #777777;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
}

input[type=text] {
    width: 90%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #777777;
    outline: none;
}

input[type=text]:focus {
    background-color: lightblue;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

