Flask==0.10.1
Flask-Session==0.2.3
Flask-SocketIO==2.1
greenlet==0.4.12
eventlet==0.18.2
requests==2.22.0
six==1.10.0
Pillow==6.1.0
qrcode==6.1
backports.functools-lru-cache==1.6.1
soupsieve==1.9.5
beautifulsoup4==4.8.2
